body {
    padding: 10px;
    background-color: black;
    background-image: url("../img/tasty-fresh-appetizing-italian-food-ingredients-on-dark-background-ready-to-cook-home-italian-healthy-food-cooking-concept-toning.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  top: 0;
  border-bottom: #3f034b solid 2px;
  z-index: 100;
  height: 80px; }


/* Modal */
.modal-container {
  
    display: flex;
    align-items: center;
    align-items: flex-start;
  
    justify-content: center;
    position: fixed; 
    background-color: transparent;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 10px ;
    z-index: 90;
  } 
  
  /* hacer visible el modal  */
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  
  .modal-carrito{
    width: 30rem;
    /* height: 10rem; */
    background-color: whitesmoke;
    border-radius: 10px ;
    border-color: black;
  }
  
  
  .productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .boton-eliminar {
    background-color: transparent;
    color: lightblue;
    border: none;
    font-size: 18px;
  }
  
  #elTotal{
    padding: 2px;
    margin-left: 1%;
  }